<%
if (typeof(track) != "undefined" && track) {
    %>
    <div class="track">
        <%
        if (track.image[2]["#text"]) {
            %>
            <img src="<%= track.image[2]["#text"] %>" />
            <%
        }
        %>
        <div class="name">
            <%= track.name %>
        </div>
        <div class="artist">
            <%= track.artist["#text"] %>
        </div>
    </div>
    <a href="http://www.amazon.co.uk/gp/search?ie=UTF8&keywords=<%= escape(track.name + " " + track.artist["#text"])%>&tag=boxsocial-21&index=digital-music&linkCode=ur2&camp=1634&creative=6738" class="affiliate amazoncouk"><img src="/img/amazon.co.uk.png" /></a><img src="http://www.assoc-amazon.co.uk/e/ir?t=boxsocial-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <a href="http://www.amazon.com/gp/search?ie=UTF8&keywords=<%= escape(track.name + " " + track.artist["#text"])%>&tag=boxsocialfm-20&index=digital-music&linkCode=ur2&camp=1789&creative=6738" class="affiliate amazoncom"><img src="/img/amazon.com.jpg" /></a><img src="http://www.assoc-amazon.com/e/ir?t=boxsocialfm-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <%
}
else {
    %>
    <div class="track">
        <div class="track">
            <div class="nothing">
                Nothing
            </div>
        </div>
    </div>
    <%
}
%>
