<div data-role="page">
    <%- partial("header") %>
    <div data-role="content">
        Are you sure you want to join <b><a href="http://www.last.fm/user/<%= host %>"><%= host %></a>'s</b> party?
        <form action="/join/<%= host %>" method="post">
            <fieldset>
                <input type="submit" value="Yes"i data-icon="check" />
                <a href="/join" data-role="button" data-icon="delete">No</a>
            </fieldset>
        </form>
    </div>
    <%- partial("footer") %>
</div>
