<div data-role="page">
    <%- partial("header-refresh") %>
    <div data-role="content">
        <h2><%= party.host %>'s party.</h2>
        <div class="host">
            <div class="nowPlaying">
            <%
            if (party.nowPlaying) {
                %>
                    <%
                    if (party.nowPlaying.image[2]["#text"]) {
                        %>
                        <img src="<%= party.nowPlaying.image[2]["#text"] %>" />
                        <%
                    }
                    %>
                    Now playing: <%= party.nowPlaying.name %> by <%= party.nowPlaying.artist["#text"] %>
                    <%
            }
            else {
                %>
                Now playing: Nothing
                <%
            }
            %>
            </div>
            <div class="toolbar">
                <%
                if (guest && party.hasGuest(guest)) {
                    %>
                    <a href="/leave" data-role="button" data-icon="delete">Leave Party</a>
                    <%
                }
                else if (!guest || (guest && guest.session.user != host)) {
                    %>
                    <a href="/join/<%= host %>" rel="external" data-role="button" data-icon="add">Join Party</a>
                    <%
                }
                %>
            </div>
        </div>
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">Guests</li>
            <%
            if (party.guests.length == 0) {
                %>
                <li>No one</li>
                <%
            }
            for (guestIndex in party.guests) {
                %>
                <li>
                    <%
                    if (party.guests[guestIndex].user.image[2]["#text"]) {
                        %>
                        <img src="http://getthumbsup.com/88b65e?url=<%= party.guests[guestIndex].user.image[2]["#text"].replace("http://", "")%>&amp;h=80&amp;w=80" />
                        <%
                    }
                    %>
                    <a href="http://www.last.fm/user/<%=party.guests[guestIndex].session.user%>"><%= party.guests[guestIndex].session.user %></a>
                </li>
                <%
            }
            %>
        </ul>
    </div>
    <%- partial("footer") %>
</div>
