<div class="row">
    <div class="twelvecol host" data-host="<%= host %>">
        <h2><%= party.host %>'s party</h2>
    </div>
</div>
<div class="row">
    <div class="eightcol">
        <h3>Now Playing</h3>
        <div id="nowPlaying" class="track nowPlaying">
            <%- partial("track", party.nowPlaying) %>
        </div>
        <div class="controls">
            <%
            if (guest && party.hasGuest(guest)) {
                %>
                <a href="/leave" class="button">Leave Party</a>
                <%
            }
            else if (!guest || (guest && guest.session.user != host)) {
                %>
                <a href="/join/<%= host %>" class="button">Join Party</a>
                <%
            }
            %>
        </div>
        <div class="guests">
            <h3>Guests</h3>
            <ul id="guestlist">
                <%- partial("guest", guests) %>
            </ul>
        </div>
    </div>
    <div class="fourcol last">
        <h3>Recent Plays</h3>
        <ul class="recentplays">
            <%- partial("recentplays") %>
        </ul>
    </div>
</div>
<script type="text/javascript" src="/js/party.js"></script>
