<div class="row">
    <div class="twelvecol host" data-host="<%= host %>">
        <h1><%= party.host %>'s party</h1>
    </div>
</div>
<div class="row">
    <div class="eightcol">
        <h3>Now Playing</h3>
        <div id="nowPlaying" class="nowPlaying">
            <%- partial("track", party.nowPlaying) %>
        </div>
        <div class="actions">
            <a href="http://twitter.com/share" class="twitter-share-button" data-text="Listening to music with <%= host %> #boxsocial" data-count="none" data-related="boxsocialfm">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            <iframe src="http://www.facebook.com/plugins/like.php?href=boxsocial.fm/party/<%= host %>&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>
        </div>
        <div class="controls">
            <%
            if (guest && party.hasGuest(guest)) {
                %>
                <a href="/leave" class="button">Leave Party</a>
                <%
            }
            else if (!guest || (guest && guest.session.user != host)) {
                %>
                <a href="/join/<%= host %>" class="button">Join Party</a>
                <%
            }
            %>
        </div>
        <div class="guests">
            <h3>Guests</h3>
            <ul id="guestlist">
                <%- partial("guest", guests) %>
            </ul>
        </div>
    </div>
    <div class="recentplays fourcol last">
        <h3>Recent Plays</h3>
        <ul id="recentplays" class="recentplays">
            <%- partial("recentplays") %>
        </ul>
    </div>
</div>
<script type="text/javascript" src="/js/party.js"></script>
