<div data-role="page">
    <%- partial("header-refresh") %>
    <div data-role="content">
        <h2><%= party.host %>'s party.</h2>
        <div class="host" data-host="<%= host %>">
            <%- partial("nowplaying") %>
            <div class="toolbar">
                <%
                if (guest && party.hasGuest(guest)) {
                    %>
                    <a href="/leave" data-role="button" data-icon="delete">Leave Party</a>
                    <%
                }
                else if (!guest || (guest && guest.session.user != host)) {
                    %>
                    <a href="/join/<%= host %>" rel="external" data-role="button" data-icon="add">Join Party</a>
                    <%
                }
                %>
            </div>
        </div>
        <ul id="guestlist" data-role="listview" data-inset="true">
            <li class="header" data-role="list-divider">Guests</li>
            <%- partial("guests") %> 
        </ul>
    </div>
    <%- partial("footer") %>
    <script type="text/javascript" src="/js/party.js"></script>
</div>
